<!doctype html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <% if (htmlWebpackPlugin.options.htmlTemplateArgs && htmlWebpackPlugin.options.htmlTemplateArgs.appendHead) { %>
    <%= htmlWebpackPlugin.options.htmlTemplateArgs.appendHead %>
  <% } %>
</head>

<body>
  <% if (htmlWebpackPlugin.options.htmlTemplateArgs && htmlWebpackPlugin.options.htmlTemplateArgs.libraryStaticPath) { %>
    <script src="<%= htmlWebpackPlugin.options.htmlTemplateArgs.libraryStaticPath %>"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.htmlTemplateArgs && htmlWebpackPlugin.options.htmlTemplateArgs.appendBody) { %>
    <%= htmlWebpackPlugin.options.htmlTemplateArgs.appendBody %>
  <% } %>
</body>

</html>